.PostShare {
  display: flex;
  gap: 0.5rem;
  background-color: var(--cardColor);
  border-radius: 0.7rem;
  padding: 0.5rem;
}

.PostShare>img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.CreatePost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.postText {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 0.3rem;
}

.postText>input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 98%;
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.postOptions {
  display: flex;
  gap: 1rem;
}

.option {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.15rem;
}

.option:hover {
  cursor: pointer;
}

.submitPost {
  margin-left: auto;
}

.submitPost>button {
  border: none;
  border-radius: 0.3rem;
  color: white;
  background-color: #f95f35;
  padding: 0.35rem 1rem;
}

.submitPost>button:hover {
  cursor: pointer;
  background-color: #f99827;
}

.submitPost>button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.previewImage {
  display: flex;
  flex-direction: row;
}

.previewImage>span {
  cursor: pointer;
  display: inline-block;
  height: 24px;
}

.previewImage>img {
  max-width: 90%;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
